<div class="conteudo" ng-controller="TimerController">
	<div class="cronometro"><timer end-time="1418983200000">Faltam {{days}} dias, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos.</timer></div>
	<figure>
		<img class="logo" src="img/hackathon-logo.png" alt="">
	</figure>
	<figure>
		<img class="complementoLogo" src="img/hackathon-complementoLogo.png" alt="">
	</figure>
	<div class="botaoInscricao">
        <a href="#" title="Inscrições Encerradas... Perdeu Playboy!">Faça sua inscrição</a>
	</div>
</div>