<meta http-equiv="content-type" content="text/html; charset=utf-8" /><div class="conteudo">
	<h1>Faq</h1>
	<ul class="conteudoFaq">
		<li>Não sei programar. Posso participar?</li>
		<li>Claro! Não precisa saber programar, apenas ter interesse e mergulhar de cabeça. Por exemplo: você pode ajudar a validar e dar ideias, sanar dúvidas de negócio, testar, palpitar nas funcionalidades e interface, entre outras coisas, e quem sabe até aprender a programar.</li>
        <li>Como posso me inscrever?</li>
        <li>Easy. Basta clicar <a href="https://www.sympla.com.br/hackathon-21-digithobrasil__26510" target="_blanck"><font color="FFFFFF">aqui</font></a>. Lembrando que as inscrições vão até 06/12. <br> <b>IMPORTANTE:</b> Existem dois tipos de inscrição: Desenvolvedor e Colaborador. Se você vai codar, inscreva-se como Desenvolvedor, caso contrário, inscreva-se como Colaborador. Isso é necessário para que possamos equilibrar os times na quantidade de desenvolvedores.</li>
        <li>Vai ter comida?</li>
		<li>SIM. Durante todo o evento haverá comida e bebida pra caraca e outros guéris-guéris.</li>
		<li>O que eu preciso levar?</li>
		<li>Nada. Mas se quiser levar seu notebook fica sussa.</li>
		<li>O time vencedor leva um carro como prêmio?</li>
		<li>Não!</li>
		<li>Como será o encerramento?</li>
		<li>3 C's! Chopp, Churras e C... (esse terceiro C é massa!)</li>
	</ul>
</div>