<div class="conteudo">
	<h1>Organização</h1>
	<ul class="conteudoOrganizacao">
		<li>
			<div class="thumb"><img src="img/Organizacao/GuazinaManga.png" alt=""></div>
			<div class="descricao">
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li>
		<li>
			<div class="thumb"><img src="img/Organizacao/FabioManga.png" alt=""></div>
			<div class="descricao">
				Fábio Hahn
				<span>@fabiohahn</span>
			</div>
		</li><li>
			<div class="thumb"><img src="img/Organizacao/StefanoManga.png" alt=""></div>
			<div class="descricao">
				Stéfano dos Santos
				<span>@stefanohs</span>
			</div>

	</ul>

</div>