<div class="conteudo">
	<h1>Organização</h1>
	<ul class="conteudoOrganizacao">
		<li>
			<div class="thumb"><img src="img/BrunoGuazina.jpg" alt=""></div>
			<div class="descricao">
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li>
		<li>
			<div class="thumb"></div>
			<div class="descricao">
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li><li>
			<div class="thumb"></div>
			<div class="descricao">
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li><li>
			<div class="thumb"></div>
			<div class="descricao">
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li><li>
			<div class="thumb"></div>
			<div class="descricao">
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li>
	</ul>

</div>