<div class="conteudo">
	<h1>Organização</h1>
	<ul>
		<li>
			<div class="thumb"></div>
			<div>
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li>
		<li>
			<div class="thumb"></div>
			<div>
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li><li>
			<div class="thumb"></div>
			<div>
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li><li>
			<div class="thumb"></div>
			<div>
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li><li>
			<div class="thumb"></div>
			<div>
				Bruno Guazina
				<span>@brunoguazina</span>
			</div>
		</li>
	</ul>

</div>