<div class="conteudo">
	<h1>Programação</h1>
	<ul class="conteudoProgramacao">
        <li>Sexta, 19 de Dezembro</li>
		<li>07h00</li>
        <li>Começa o esquema<span>Já começaremos com a mão na massa. Previamente, os time já estarão definidos, e já poderão se preparar com suas ideias e tecnologias. É chegar, sentar e desenvolver!</span></li>
		<li>12h00</li>
        <li>Hora do rango<span>Esse é o momento de dar uma descansada e tirar a barriga da miséria.</span></li>
		<li>19h00</li>
        <li>Tira o dedo do teclado<span>Quem codou, codou. Quem não codou, não coda mais. Termina a bagaça e é hora de se preparar pra vender seu peixe.</span></li>
		<li>19h01</li>
        <li>Começam as apresentações com chopp<span>Hora de ver quem mandou bem. Enquando tomamos um tão merecido chopp, assistiremos as apresentações. Cada time terá em torno de 10 minutos para fazer seu pitch.</span></li>
		<li>19h43</li>
        <li>Anúncio do time vencedor<span> Depois de avaliar cuidadosamente cada solução apresentada, os avaliadores, Steve Jobs, Albert Einstein e Amy Winehouse, que voltarão do além especialmente para o Hackathon 2.1, anunciarão o time vencedor</span></li>
		<li>20h00</li>
        <li>#Vampafesta<span>Como todos já sabem, em parceria com a Digicom, faremos uma festa de encerramento com Churras, Chopp e C... (aguardem!)</span></li>
	</ul>
</div>